* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Lenis */
html.lenis {
    height: auto;
}

.lenis-smooth {
    /* ブラウザ標準の挙動と競合させない */
    scroll-behavior: auto !important; 
}

.lenis-smooth [data-lenis-prevent] {
    /* スクロール固定したい要素がある場合 */
    overscroll-behavior: contain; 
}

/* font */
body {
    font-family: var(--font-base);
}

/* element */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* 変数 */
/* ----------------------------------------------------------- */

:root {
    --mainColor: #6DB0E3;
    --accentColor: #E3DF6D;
    --baseColor: #FCFFFF;
    --bgColor: #54ACEF;
    --textColor: #2F5979;
    --footerColor: #163F5E;
    --white: #FFFFFF;
    --pcAlphabetSize: 0.833vw;
    --spAlphabetSize: 0.75rem;
    --pcH2Size: 2.5rem;
    --spH2Size: 1.5rem;
    --font24to14: clamp(0.875rem, 0.723rem + 0.65vw, 1.5rem);
    --font-base: "Kosugi Maru", "Hiragino Sans", "Meiryo", sans-serif;
    --font-accent: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    --columnGap: clamp(1rem, 0.757rem + 1.04vw, 2rem)
}

/* style */
/* ----------------------------------------------------------- */

.primary-button {
    background-color: transparent;
    color: var(--accentColor);
    padding: 0;
    border: 1px solid var(--accentColor);
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-button:hover {
    background-color: var(--accentColor);
    color: var(--white);
}

.primary-button a {
    color: var(--accentColor);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem; /* ボタンの大きさをここで調整 */
}

.primary-button a:hover {
    color: var(--white);
}

/* split text style */
.split {
    opacity: 0;
    will-change: transform;
}

.split * {
    will-change: transform;
}

/* ----------------------------------------------------------- */
/* header */
/* ----------------------------------------------------------- */
.pc-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 40px;
    margin-top: 2.0833vw;
    background: transparent;
}

.header-logo {
    mix-blend-mode: difference;
}

.header-logo img {
    display: block;
}

.pc-header__nav {
    display: flex;
    flex-direction: column;
}

.pc-header__nav .primary-button {
    margin-bottom: 32px;
}

.pc-header__nav ul {
    padding-left: 52px;
}

.pc-header__nav ul li {
    margin-bottom: 14px;
}

.pc-header__nav ul li:last-of-type {
    margin-bottom: 0;
}

.pc-header__nav ul li a {
    font-family: var(--font-accent);
    color: var(--mainColor);
    font-size: 16px;
}


@media (max-width: 960px) {
    .pc-header {
        display: none;
    }
}



/* sp-header */
/* ----------------------------------------------------------- */
.sp-header {
    width: 100%;
}

.sp-header__logo {
    width: fit-content;
    position: fixed;
    top: 15px;
    left: 20px;
    mix-blend-mode: difference;
}

.sp-header__logo img {
    width: 40vw;
}

.hamburger-grid {
    width: 50px;
    height: 50px;
    padding: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 1000;
}

.hamburger-grid__dots {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    width: 100%;
    height: 100%;
}

.hamburger-grid__dot {
    width: 100%;
    height: 100%;
    background-color: var(--accentColor);
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.hamburger-grid.active .hamburger-grid__dot {
    background-color: var(--accentColor);
}

.hamburger-grid.active .hamburger-grid__dot:nth-child(1) {
    transform: translateX(8px);
}
.hamburger-grid.active .hamburger-grid__dot:nth-child(2) {
    transform: translateY(8px);
}
.hamburger-grid.active .hamburger-grid__dot:nth-child(3) {
    transform:translateY(-8px);
}
.hamburger-grid.active .hamburger-grid__dot:nth-child(4) {
    transform: translateX(-8px);
}

.nav-grid {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 900;
}

.nav-grid.active {
    visibility: visible;
    opacity: 1;
}

.nav-grid__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 40px;
}

.nav-grid__sections {
    grid-column: span 12;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.nav-grid__sections > .primary-button {
    background-color: var(--accentColor);
    color: var(--white);
}

.nav-grid__section {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-grid.active .nav-grid__section {
    opacity: 1;
    transform: translateY(0);
}

.nav-grid.active .nav-grid__section:nth-child(1) {
    transition-delay: 0.2s;
}
.nav-grid.active .nav-grid__section:nth-child(2) {
    transition-delay: 0.3s;
}

.nav-grid__title {
    margin: 0 0 20px;
    color: var(--accentColor);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-grid__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-grid__list li {
    margin-bottom: 15px;
    overflow: hidden;
}

.nav-grid__list li a {
    font-family: var(--font-accent);
}

.nav-grid__link {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    transform: translateY(100%);
    transition: 
        transform 0.5s 
        cubic-bezier(0.4, 0, 0.2, 1),
        color 0.3s ease;
}

.nav-grid.active .nav-grid__link {
    transform: translateY(0);
}

.nav-grid__link:hover {
    color: #4a90e2;
}

.sp-header {
    display: none;
}

@media (max-width: 960px) {
    .sp-header {
        display: block;
    }

    .nav-grid__content {
        padding: 80px 20px;
    }

    .nav-grid__sections {
        grid-template-columns: 1fr;
    }

    .nav-grid__link {
        font-size: 20px;
    }
}


/* ----------------------------------------------------------- */
/* cta */
/* ----------------------------------------------------------- */

.cta {
    display: grid;
    place-items: center;
    margin-bottom: 13.854vw;
}

.cta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-content h2 {
    font-size: clamp(1.5rem, 1.257rem + 1.04vw, 2.5rem);
    font-weight: bold;
    letter-spacing: 0.06em;
    margin-bottom: clamp(1rem, 0.879rem + 0.52vw, 1.5rem);
    color: var(--mainColor);
}

.cta-content p {
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    color: var(--mainColor);
    line-height: 160%;
    letter-spacing: 0.06em;
    margin-bottom: clamp(2rem, 1.757rem + 1.04vw, 3rem);
    text-align: center;
}

.cta-content > .primary-button {
    background-color: var(--accentColor);
}

.cta-content > .primary-button a {
    color: var(--white);
}


/* ----------------------------------------------------------- */
/* footer */
/* ----------------------------------------------------------- */
footer {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr auto-fit);
    gap: clamp(1rem, 0.757rem + 1.04vw, 2rem);
    background: var(--footerColor);
    padding-block: 64px 40px;
}

.footer-description{
    grid-column-start: 2;
    grid-column-end: 6;
}

.footer-description__about {
    color: var(--white);
    font-family: var(--font-accent);
    font-size: 18px;
}

.footer-description__about br {
    display: none;
}

.footer-description__about p {
    color: var(--white);
    font-size: 16px;
    margin-top: 24px;
}

.footer-description__contact {
    margin-top: 24px;
}

.footer-description__contact ul li {
    color: var(--white);
    font-family: var(--font-accent);
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.footer-description__contact ul li:first-of-type {
    align-items: start;
}

.footer-description__contact ul li:last-of-type {
    margin-bottom: 0;
}

.footer-description__contact ul li img {
    display: inline;
    margin-right: 12px;
}

@media (max-width:960px) {
    footer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr 1fr auto-fit);
        row-gap: 48px;
        padding-inline: 4%;
    }

    .footer-description {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
    }
}


/* footer-nav */
/* ----------------------------------------------------------- */
.footer-nav {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 7 / 12;
    gap: 48px;
}

.footer-nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-nav__links {
    width: calc(100% / 3)
}

.footer-nav__links h2 {
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font-accent);
    color: var(--white);
    margin-bottom: 24px;
}

.footer-nav__links ul li {
    margin-bottom: 14px;
    margin-left: 18px;
}

.footer-nav__links ul li:last-of-type {
    margin-bottom: 0;
}

.footer-nav__links ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #C5C5C5;
    transition: .3s;
    font-family: var(--font-accent);
}

.footer-nav__links ul li :hover {
    color: var(--white);
}

@media (max-width:960px) {
    .footer-nav__container {
        flex-direction: column;
        gap: 32px;
    }

    .footer-nav {
        grid-template-columns: repeat(4, 1fr);
        grid-column: 1 / 5;
        grid-row: 1;
    }

    .footer-nav__links {
        width: 100%;
    }

    .footer-nav__links ul {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-nav__links ul li {
        width: calc(100% / 2);
    }
}

@media (max-width:768px) {
    .footer-nav__links ul {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-nav__links ul li {
        flex: 1 1 46%;
    }
}


/* footer-bottom */
/* ----------------------------------------------------------- */
.footer-bottom {  
    grid-column: 2 / span 10;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    border-top: 1px solid var(--white);
    padding-top: 32px;
    text-align: center;
}

.footer-bottom small,
.footer-bottom a {
    font-size: 14px;
    color: #C5C5C5;
    transition: .3s;
}

.footer-bottom a:hover {
    color: var(--white);
}

@media (max-width:960px) {
    .footer-bottom {  
        grid-column: 1 / 5;
        grid-row: 3;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .footer-bottom a {
        margin-bottom: 16px;
    }
}