
/* ----------------------------------------------------------- */
/* fv */
/* ----------------------------------------------------------- */

/* layout */
.fv {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--columnGap);
}

.fv-header {
    grid-column: 2 / 5;
}

.fv__image {
    grid-column: 6 / 12;
}

@media (max-width: 960px) {
    .fv {
        grid-template-columns: repeat(4, 1fr);
        grid-row: auto auto;
    }
    
    .fv-header {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
    
    .fv__image {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
    }
}

/* style */
.fv {
    margin-block: 14rem 15rem;
}

.fv-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.fv-header__title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fv-header__title span {
    font-family: var(--font-accent);
    font-size: clamp(0.75rem, 0.689rem + 0.26vw, 1rem);
    color: var(--mainColor);
}

.fv-header__title h2 {
    font-size: var(--pcH2Size);
    color: var(--mainColor);
    white-space: nowrap;
    line-height: 120%;
}

.fv-header__text {
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    color: var(--textColor);
    letter-spacing: 0.06em;
    line-height: 160%;
    text-align: justify;
}

.fv__image {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
    border-radius: 6px;
}

@media (max-width: 960px) {
    /* style */
    .fv {
        padding-inline: 4%;
        margin-block: 8.75rem 7.5rem;
    }

    .fv-header {
        margin-bottom: 3.5rem;
    }

    .fv-header__title {
        gap: .5rem;
        margin-bottom: 2rem;
    }
    
    .fv-header__title h2 {
        font-size: var(--spH2Size);
    }

    .fv__image {
        width: 100%;
        object-fit: cover;
        max-height: 500px;
        border-radius: 6px;
    }
}


/* ----------------------------------------------------------- */
/* partner */
/* ----------------------------------------------------------- */

.partner {
    margin-bottom: 12.5rem;
}

.partner h2 {
    text-align: center;
    font-size: var(--pcH2Size);
    color: var(--mainColor);
    margin-bottom: 4.5rem;
}

.partner-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem 3rem;
    max-width: 66.145vw;
    margin: 0 auto;
    padding: 0;
}

.partner-list__organization h3 {
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    font-family: var(--font-accent);
    font-weight: normal;
    color: var(--textColor);
    white-space: nowrap
}

@media (max-width: 960px) {
    .partner h2 {
        font-size: var(--spH2Size);
        margin-bottom: 2rem;
    }
}


/* ----------------------------------------------------------- */
/* Q&A*/
/* ----------------------------------------------------------- */

.qa {
    width: 100vw;
    height: auto;
    margin-bottom: 15rem;
}

.qa h2 {
    font-size: var(--pcH2Size);
    color: var(--mainColor);
    text-align: center;
    margin-bottom: 4.5rem;
}

.qa h3 {
    margin-block: 2rem;
    color: var(--mainColor);
}

.qa-list {
    width: 49.218vw;
    margin: 0 auto;
}

.accordion {
    width: 100%;
    margin-bottom: 1.5rem;
    border: 1px solid var(--mainColor);
    border-radius: 8px;
}

.accordion summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    color: var(--textColor);
    cursor: pointer;
}

.accordion summary::-webkit-details-marker {
    display: none;
}

.accordion summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 1px solid var(--mainColor);
    border-right: 1px solid var(--mainColor);
    content: '';
    transition: transform .3s;
}

.accordion[open] summary::after {
    transform: rotate(225deg);
}

.accordion p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: .3em 2em 1.5em;
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    color: var(--textColor);
    transition: transform .5s, opacity .5s;
}

.accordion[open] p {
    transform: none;
    opacity: 1;
}

@media (max-width: 960px) {
    .qa {
        margin-bottom: 7rem;
    }
    
    .qa h2 {
        font-size: var(--spH2Size);
        margin-bottom: 2.5rem;
    }
    
    .qa-list {
        width: calc(100vw - 4%);
    }

    .accordion {
        margin-bottom: 1rem;
    }
}


