
/* ----------------------------------------------------------- */
/* fv */
/* ----------------------------------------------------------- */

/* layout */
.fv {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--columnGap);
}

.fv-header {
    grid-column: 2 / 5;
}

.fv__image {
    grid-column: 6 / 12;
}

@media (max-width: 960px) {
    .fv {
        grid-template-columns: repeat(4, 1fr);
        grid-row: auto auto;
    }
    
    .fv-header {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
    
    .fv__image {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
    }
}

/* style */
.fv {
    margin-block: 14rem 15rem;
}

.fv-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.fv-header__title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fv-header__title span {
    font-family: var(--font-accent);
    font-size: clamp(0.75rem, 0.689rem + 0.26vw, 1rem);
    color: var(--mainColor);
}

.fv-header__title h2 {
    font-size: var(--pcH2Size);
    color: var(--mainColor);
    white-space: nowrap;
    line-height: 120%;
}

.fv-header__text {
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    color: var(--textColor);
    letter-spacing: 0.06em;
    line-height: 160%;
    text-align: justify;
}

.fv__image {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
    border-radius: 6px;
}

@media (max-width: 960px) {
    /* style */
    .fv {
        padding-inline: 4%;
        margin-block: 8.75rem 7.5rem;
    }

    .fv-header {
        margin-bottom: 3.5rem;
    }

    .fv-header__title {
        gap: .5rem;
        margin-bottom: 2rem;
    }
    
    .fv-header__title h2 {
        font-size: var(--spH2Size);
    }

    .fv__image {
        width: 100%;
        object-fit: cover;
        max-height: 500px;
        border-radius: 6px;
    }
}


/* ----------------------------------------------------------- */
/* support-details */
/* ----------------------------------------------------------- */

/* 主な支援内容 */
/* ---------------------------------*/
.support-details {
    margin-bottom: 12.5rem;
}

.support-details h2 {
    text-align: center;
    font-size: var(--pcH2Size);
    color: var(--mainColor);
    margin-bottom: 4.5rem;
}

.support-details__list {
    width: 90%; 
    max-width: 1270px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem 2rem;
    margin: 0 auto 10rem;
}

.support-details__list--item {
    flex: 0 0 calc((100% - 2rem) / 2);
    display: flex;
    align-items: center;
    border: 1px solid var(--mainColor);
    border-radius: 14px;
    padding: 2rem;
}


.support-details__list--item h3 {
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    font-family: var(--font-accent);
    font-weight: normal;
    color: var(--textColor);
    letter-spacing: 0.06em;
    line-height: 160%;
    text-align: justify;
}

@media (max-width: 960px) {
    .support-details {
        margin-bottom: 7rem;
    }
    
    .support-details h2 {
        font-size: var(--spH2Size);
        margin-bottom: 2.5rem;
    }

    .support-details__list {
        gap: 1.5rem 2rem;
        margin: 0 auto 7rem;
    }
    
    .support-details__list--item {
        flex: 1 100%;
        padding: 1.5rem;
    }
}


/* ----------------------------------------------------------- */
/* partner */
/* ----------------------------------------------------------- */

.partner {
    margin-bottom: 12.5rem;
}

.partner h2 {
    text-align: center;
    font-size: var(--pcH2Size);
    color: var(--mainColor);
    margin-bottom: 4.5rem;
}

.partner-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem 3rem;
    max-width: 66.145vw;
    margin: 0 auto;
    padding: 0;
}

.partner-list__organization h3 {
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    font-family: var(--font-accent);
    font-weight: normal;
    color: var(--textColor);
    white-space: nowrap
}

@media (max-width: 960px) {
    .partner h2 {
        font-size: var(--spH2Size);
        margin-bottom: 2rem;
    }
}


/* ----------------------------------------------------------- */
/* Q&A*/
/* ----------------------------------------------------------- */

.qa {
    width: 100vw;
    height: auto;
    margin-bottom: 15rem;
}

.qa h2 {
    font-size: var(--pcH2Size);
    color: var(--mainColor);
    text-align: center;
    margin-bottom: 4.5rem;
}

.qa-list {
    width: 49.218vw;
    margin: 0 auto;
}

.accordion {
    width: 100%;
    margin-bottom: 1.5rem;
    border: 1px solid var(--mainColor);
    border-radius: 8px;
}

.accordion summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    color: var(--textColor);
    cursor: pointer;
}

.accordion summary::-webkit-details-marker {
    display: none;
}

.accordion summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 1px solid var(--mainColor);
    border-right: 1px solid var(--mainColor);
    content: '';
    transition: transform .3s;
}

.accordion[open] summary::after {
    transform: rotate(225deg);
}

.accordion p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: .3em 2em 1.5em;
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    color: var(--textColor);
    transition: transform .5s, opacity .5s;
}

.accordion[open] p {
    transform: none;
    opacity: 1;
}

@media (max-width: 960px) {
    .qa {
        margin-bottom: 7rem;
    }
    
    .qa h2 {
        font-size: var(--spH2Size);
        margin-bottom: 2.5rem;
    }
    
    .qa-list {
        width: calc(100vw - 4%);
    }

    .accordion {
        margin-bottom: 1rem;
    }
}


/* ----------------------------------------------------------- */
/* contact */
/* ----------------------------------------------------------- */

.contact {
    margin-bottom: 15rem;
}

.contact h2 {
    font-size: var(--pcH2Size);
    color: var(--mainColor);
    text-align: center;
    margin-bottom: 4.5rem;
}

.contact-list {
    width: 83.02vw; /* デザインに合わせた相対幅 */
    max-width: 1400px; /* 必要に応じて最大幅を設定 */
    margin: 0 auto;
    display: flex;
    justify-content: center; /* 隙間を固定して中央に寄せる */
    gap: 1.5vw; /* 画面幅に応じて隙間も伸縮させる */
}

.contact-list__item {
    flex: 0 0 calc((100% - (1.5vw * 3)) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--mainColor);
    border-radius: 14px;
    padding: 2rem 1.5rem; /* 左右パディングを少し詰めると中身が入りやすい */
    box-sizing: border-box; /* 枠線と余白を幅に含める（超重要） */
    text-align: center; /* テキストを中央寄せに */
}

.contact-list__item p {
    font-family: var(--font-accent);
    font-size: 14px;
    color: var(--textColor);
    word-break: break-all; /* 長いメールアドレスなどが枠を突き抜けないように */
    line-height: 160%;
}

.contact-category {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.contact-category img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.contact-category h3 {
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    font-family: var(--font-accent);
    color: var(--mainColor);
    font-weight: normal;
}

@media (max-width: 960px) {
    .contact {
        margin-bottom: 7rem;
    }
    
    .contact h2 {
        font-size: var(--spH2Size);
        margin-bottom: 2.5rem;
    }
    
    .contact-list {
        width: calc(100vw - 4%); 
        flex-direction: column;
        gap: 1rem;
    }
    
    .contact-list__item {
        flex: 1 100%;
    }
}