

/* ----------------------------------------------------------- */
/* fv */
/* ----------------------------------------------------------- */

/* style */
.fv {
    width: 100vw;
    height: 480px;
    margin-top: 6.5rem;
    margin-bottom: 7.875rem;
}

.fv__text {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    place-items: center;
    background-color: #FAFAFA;
}

.fv__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fv__inner span {
    color: var(--mainColor);
    font-family: var(--font-accent);
    font-size: clamp(0.75rem, 0.689rem + 0.26vw, 1rem);
    margin-bottom: 1rem;
}

.fv__inner h2 {
    color: var(--mainColor);
    font-size: var(--pcH2Size);
    margin-bottom: 4rem;
}

.fv__inner p {
    color: var(--textColor);
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    letter-spacing: 0.06em;
}

.fv__image {
    width: 100vw;
    max-height: 1080px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 15rem;
}

@media (max-width: 960px) {
    .fv {
        height: 230px;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .fv__inner span {
        margin-bottom: .5rem;
    }

    .fv__inner h2 {
        font-size: var(--spH2Size);
        margin-bottom: 1.5rem;
    }
    
    .fv__inner p {
        width: 60%;
    }
}

/* ----------------------------------------------------------- */
/* policy */
/* ----------------------------------------------------------- */

.policy {
    max-width: 1000px;
    display: block;
    margin: 0 auto 10rem;
}

.policy h3 {
    font-family: var(--font-accent);
    font-size: clamp(1rem, 0.879rem + 0.52vw, 1.5rem);
    color: var(--mainColor);
    margin-bottom: 1.5rem;
}

.policy p {
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.767rem + 0.19vw, 1rem);
    color: var(--textColor);
    line-height: 160%;
    letter-spacing: 0.06em;
}

.policy:has(ul) p {
    margin-bottom: 1rem;
}

.policy ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.policy ul li {
    list-style: disc;
    list-style-position: inside;
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.767rem + 0.19vw, 1rem);
    color: var(--textColor);
    letter-spacing: 0.06em;
}

.corp-address {
    margin-top: 2rem;
}

.corp-address h4 {
    font-family: var(--font-accent);
    font-size: clamp(1rem, 0.879rem + 0.52vw, 1.5rem);
    font-weight: normal;
    color: var(--mainColor);
    margin-bottom: 1rem;
}

.corp-address > p {
    margin-bottom: 1rem;
}

.corp-address > p:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 960px) {
    .policy {
        max-width: calc(100vw - 4%);
        max-width: 800px;
        padding-inline: 4%;
        margin: 0 auto 5rem;
    }
}