
/* ----------------------------------------------------------- */
/* fv */
/* ----------------------------------------------------------- */

/* style */
.fv {
    width: 100vw;
    height: 480px;
    margin-top: 6.5rem;
    margin-bottom: 7.875rem;
}

.fv__text {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    place-items: center;
    background-color: #FAFAFA;
}

.fv__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fv__inner span {
    color: var(--mainColor);
    font-family: var(--font-accent);
    font-size: clamp(0.75rem, 0.689rem + 0.26vw, 1rem);
    margin-bottom: 1rem;
}

.fv__inner h2 {
    color: var(--mainColor);
    font-size: var(--pcH2Size);
    margin-bottom: 4rem;
}

.fv__inner p {
    max-width: 38.5vw;
    color: var(--textColor);
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    letter-spacing: 0.06em;
}

.fv__image {
    width: 100vw;
    max-height: 1080px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 15rem;
}

@media (max-width: 960px) {
    .fv {
        height: 230px;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .fv__inner span {
        margin-bottom: .5rem;
    }

    .fv__inner h2 {
        font-size: var(--spH2Size);
        margin-bottom: 1.5rem;
    }
    
    .fv__inner p {
        width: 100%;
        max-width: 90%;
    }
}


/* ----------------------------------------------------------- */
/* recruit body */
/* ----------------------------------------------------------- */

.recruit-common-title {
    font-size: var(--pcH2Size);
    color: var(--mainColor);
    text-align: center;
    margin-bottom: 2.5rem;
}

/* ヒーローセクション */
.recruit-hero {
    background-color: var(--bg-light);
    padding: 100px 20px;
    text-align: center;
}

.recruit-hero__sub {
    color: var(--main-blue);
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
}

.recruit-hero__title {
    font-size: 3rem;
    color: var(--main-blue);
    margin-bottom: 2rem;
}

.recruit-values__lead {
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    text-align: center;
    line-height: 180%;
    letter-spacing: 0.06em;
    color: var(--textColor);
}

/* 大切にしていること (3列グリッド) */
.recruit-values__list {
    display: flex;
    justify-content: space-between;
    max-width: 83.02vw;
    margin: 4rem auto 18.75rem;
    gap: 6.5rem;
}

.recruit-values__item {
    flex: 1;
    border: 1px solid var(--mainColor);
    border-radius: 14px;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.recruit-values__item p {
    font-size: clamp(0.813rem, 0.767rem + 0.19vw, 1rem);
    font-family: var(--font-accent);
    color: var(--textColor);
    letter-spacing: 0.06em;
    line-height: 140%;
    text-align: left;
}

.recruit-values__icon {
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
}

.recruit-values__icon h3 {
    color: var(--mainColor);
    font-size: clamp(1rem, 0.939rem + 0.26vw, 1.25rem);
    font-family: var(--font-accent);
    font-weight: normal;
}

@media (max-width: 960px) {
    .pc-only {
        display: none;
    }

    .recruit-common-title {
        font-size: var(--spH2Size);
    }

    .recruit-values__lead {
        width: 85%;
        text-align: center;
        margin: 0 auto;
    }

    .recruit-values__list {
        flex-direction: column;
        gap: 1rem;
        margin: 4rem auto 9.75rem;
    }
}


/* 募集職種 */
/* ----------------------------------------------------------- */

.recruit-jobs__header {
    display: block;
    text-align: center;
    margin-bottom: 3.5rem;
}

.recruit-jobs__header h2 {
    font-size: var(--pcH2Size);
    color: var(--mainColor);
    margin-bottom: 2.4rem;
}

.recruit-jobs__header p  {
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    font-family: var(--font-accent);
    color: var(--textColor);
    letter-spacing: 0.06em;
    line-height: 140%;
}

/* 募集職種 (カード形式) */
.jobs-list {
    max-width: 66.145vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto 12.5rem;
}

.jobs-list__card {
    display: block;
    border: 1px solid var(--mainColor);
    border-radius: 14px;
    padding: 3rem;
    box-shadow: -6px 0px 0px 0px rgba(41, 120, 180, 1);
}

.card-header {
    display: block;
    margin-bottom: 3.5rem;
}

.card-header p {
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    color: var(--textColor);
    letter-spacing: 0.06em;
}

.card-header__type {
    margin-bottom: 1rem;
}

.card-header__type h3 {
    font-size: 1.5rem;
    font-family: var(--font-accent);
    font-weight: normal;
    color: var(--mainColor);
    margin-bottom: 1rem;
}

.card-header__type .job-place, 
.card-header__type .worker-type {
    font-size: 1rem;
    font-family: var(--font-accent);
    font-weight: normal;
    padding: 4px 10px;
    border-radius: 4px;
}

.card-header__type .job-place {
    background-color: var(--mainColor);
    color: var(--white);
    margin-right: 1rem;
}

.card-header__type .worker-type {
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}

/* 募集職種 (card body) */
.card-body {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.card-body__requirements {
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
}

.card-body__requirements h4 {
    font-family: var(--font-accent);
    font-weight: normal;
    font-size: 1rem;
    color: var(--mainColor);
    display: flex;
    gap: .5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.card-body__requirements li {
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    color: var(--textColor);
    margin-bottom: .5rem;
    list-style: disc;
    list-style-position: inside;
}


@media (max-width: 960px) {
    .recruit-jobs__header h2 {
        font-size: var(--spH2Size);
        margin-bottom: 1.5rem;
    }

    .card-header {
        margin-bottom: 2rem;
    }

    .card-body {
        flex-direction: column;
        gap: 0.625rem;
    }

    .jobs-list {
        max-width: calc(100% - 4%);
        padding-inline: 4%;
        margin: 0 auto 6.5rem;
    }

    .jobs-list__card {
        padding: 2rem 1rem;
    }

    .card-body__requirements {
        width: 100%;
    }
}


/* ----------------------------------------------------------- */
/* flow */
/* ----------------------------------------------------------- */

.flow {
    margin-bottom: 15rem;
}

.flow-header {
    text-align: center;
    margin-bottom: 5rem;
}

.flow-header h2 {
    font-size: var(--pcH2Size);
    color: var(--mainColor);
    margin-bottom: 2rem;
}

.flow-header p {
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    color: var(--textColor);
}

.flow-list {
    width: 100%;
    max-width: 945px;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    margin: 0 auto;
}

.flow-list__item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.flow-list__item span {
    font-size: 1rem;
    background-color: var(--mainColor);
    color: var(--white);
    font-family: var(--font-accent);
    border-radius: 50%;
    padding: 23px 25px;
}

.flow-step {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid var(--mainColor);
    border-radius: 14px;
    padding: 1.5rem;
    box-shadow: -6px 0px 0px 0px rgba(41, 120, 180, 1);
}

.flow-step h3 {
    font-size: 1.25rem;
    color: var(--mainColor);
}

.flow-step p {
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    color: var(--textColor);
    letter-spacing: 0.06em;
    line-height: 160%;
}

@media (max-width: 960px) {
    .flow {
        margin-bottom: 7rem;
        padding-inline: 4%;
    }

    .flow-header {
        margin-bottom: 2.5rem;
    }

    .flow-header h2 {
        font-size: var(--spH2Size);
    }

    .flow-list {
        gap: 1rem;
    }

    .flow-list__item {
        gap: 1rem;
    }

    .flow-list__item span {
        padding: 13px 15px;
    }

    .flow-step {
        padding: 1rem;
        gap: 0.75rem;
    }
}
