

/* ----------------------------------------------------------- */
/* fv */
/* ----------------------------------------------------------- */

/* style */
.fv {
    width: 100vw;
    height: 480px;
    margin-top: 6.5rem;
    margin-bottom: 7.875rem;
}

.fv__text {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    place-items: center;
    background-color: #FAFAFA;
}

.fv__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fv__inner span {
    color: var(--mainColor);
    font-family: var(--font-accent);
    font-size: clamp(0.75rem, 0.689rem + 0.26vw, 1rem);
    margin-bottom: 1rem;
}

.fv__inner h2 {
    color: var(--mainColor);
    font-size: var(--pcH2Size);
    margin-bottom: 4rem;
}

.fv__inner p {
    color: var(--textColor);
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.706rem + 0.45vw, 1.25rem);
    letter-spacing: 0.06em;
}

.fv__image {
    width: 100vw;
    max-height: 1080px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 15rem;
}

@media (max-width: 960px) {
    .fv {
        height: 230px;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .fv__inner span {
        margin-bottom: .5rem;
    }

    .fv__inner h2 {
        font-size: var(--spH2Size);
        margin-bottom: 1.5rem;
    }
    
    .fv__inner p {
        width: 60%;
    }
}


/* ----------------------------------------------------------- */
/* services */
/* ----------------------------------------------------------- */

/* layout */
.services {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    column-gap: var(--columnGap);
}

.services-header {
    grid-column: 2 / 5;
    grid-template-rows: 1 / 2;
}

.services-body {
    grid-column: 8 / 12;
    grid-template-rows: 1 / 2;
}

.service-image {
    grid-column: 2 / 12;
    grid-template-rows: 2 / 13;
}

.primary-button {
    grid-column: 6 / 8;
    grid-template-rows: 3 / 4;
}

@media (max-width: 960px) {
    /* layout */
    .services {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto auto;
    }

    .services-header {
        grid-column: 1 / 5;
        grid-template-rows: 1 / 2;
    }

    .services-body {
        grid-column: 1 / 5;
        grid-template-rows: 2 / 3;
    }

    .service-image {
        grid-column: 1 / 5;
        grid-template-rows: 3 / 4;
    }

    .primary-button {
        grid-column: 2 / 4;
        grid-template-rows: 4 / 5;
    }
}

/* style */
.services {
    margin-bottom: 10rem;
}

.services-header {
    align-self: self-start;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.services-header img {
    fill: var(--mainColor);
}

.irregular {
    align-items: flex-start;
}

.irregular h2 {
    line-height: 120%;
}

.services-header__text {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.services-header__text span {
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.767rem + 0.19vw, 1rem);
    color: var(--mainColor);
    white-space: nowrap;
}

.services-header__text h2 {
    font-size: var(--pcH2Size);
    color: var(--mainColor);
    white-space: nowrap;
}

.services-body__description {
    font-family: var(--font-accent);
    color: var(--textColor);
    letter-spacing: 0.06em;
    line-height: 160%;
    text-align: justify;
    margin-bottom: 2.5rem;
}

.services-body h3 {
    color: var(--mainColor);
    margin-bottom: 1rem;
    font-size: clamp(0.875rem, 0.845rem + 0.13vw, 1rem);
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.services-list__item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.services-list__item img {
    object-fit: contain;
}

.services-list__item h4 {
    font-family: var(--font-accent);
    font-size: clamp(0.813rem, 0.767rem + 0.19vw, 1rem);
    color: var(--textColor);
    font-weight: normal;
}

.services-list__item.action {
    flex-direction: column;
    align-items: flex-start;
}

.services-list__item.action p {
    font-family: var(--font-accent);
    color: var(--textColor);
    font-size: clamp(0.813rem, 0.767rem + 0.19vw, 1rem);
}

.services-list__item--inner {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.services-list__item--inner > h3 {
    margin-bottom: 0;
}

.service-image {
    width: 100%;
    max-height: 640px;
    object-fit: cover;
    object-position: center;
    margin-block: 3.5rem;
    border-radius: 6px;
}

@media (max-width: 960px) {
    /* style */
    .services {
        padding-inline: 4%;
    }

    .services-header {
        gap: .5rem;
        margin-bottom: 2rem;
    }

    .services-header img {
        width: 14.4vw;
        height: 14.4vw;
    }

    .services-header__text {
        gap: 0.25rem;
    }

    .services-header__text h2 {
        font-size: var(--spH2Size);
    }

    .services-body__description {
        margin-bottom: 1.75rem;
    }

    .service-image {
        width: 100%;
        max-height: 640px;
        object-fit: cover;
        object-position: center;
        margin-block: 3.5rem;
    }
}